<p>Просто пишем текст в HTML</p>
<p>Используем классы: &lt;span class="code"&gt;&lt;/span&gt;, чтобы сделать <span class="code">это</span></p>

<p>Пример вставки кода:</p>
<pre><code>let x = new Number(111);<br>let y = 10;
</code></pre>

<p>Также можно вставлять блоки "Дополнения" или их ещё можно назвать "Заметки"</p>

<p class="additions">Это блок заметка</p>